.rodape{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    margin-bottom: 0;
    padding: 0.3rem 0;
    background-color: var(--primary);
    color: darkgray;
    font-size:1rem;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
  .rodape {
    flex-direction: column;
    text-align: center;
    font-size: 0.9rem;
    gap: 6px;
    padding: 0.6rem 0;
  }
}
