:root{
  --bege: #FFF8E1;
  --primary: #4E342E;
  --accent: #FFD54F;  
  --branco: #ffffff;
  --texto:#222;
  --max:1100px;
  --radius: 10px;
  --shadow: 0 8px 24px rgba(0,0,0,0.08);
  
}

*{
  box-sizing:border-box
}

html,body,#root{
  height:100%
}

body{
  margin:0;
  font-family: Inter, "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background:var(--bege);
  color:var(--texto);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
